NODE_ENV=
API_PORT=
API_HOST=
DATABASE_PORT=
DATABASE_HOST=
DATABASE_USER=
DATABASE_URL=
LOG_LEVEL=

#auth
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_IN=
JWT_REFRESH_IN=

#limit
RATE_TTL=
RATE_LIMIT=
AUTH_RATE_TTL=
AUTH_RATE_LIMIT=
RATE_BLOCK_DURATION=

#email
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

#cloudinary
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
